<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kris.po">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".PresentationLayer.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresentationLayer.GenNewAlgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PresentationLayer.TimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PresentationLayer.AddSolutionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PresentationLayer.DeleteSolutionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PresentationLayer.SolutionsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PresentationLayer.AddSolutionConfirmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PresentationLayer.DeleteSolutionQuestionConfirmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".PresentationLayer.DeleteSolutionConfirmActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>